body {
  background-color: #1e88e5; }

#wrapper {
  width: 960px;
  margin: 0 auto;
  padding-top: 5%; }

#articles {
  position: absolute;
  left: 15%;
  width: 50%;
  height: 500px;
  margin-top: -25%;
  /*display: inline-block;*/
  overflow: auto; }

#savenote {
  margin-bottom: 2%;
  float:left;
}
#savenote textarea, input {
    display: block;
    width: 50%;
    background-color: #FCF5C7; }
#savenote input {
    height: 36px;
    font-size: 24px; }
#savenote textarea {
    height: 200px;
    font-size: 18px; }

#deletenote {
  margin-bottom: 2%;
  float:right;
}
#deletenote textarea, input {
    display: block;
    width: 50%;
    background-color: #FCF5C7; }
#deletenote input {
    height: 36px;
    font-size: 24px; }
#deletenote textarea {
    height: 200px;
    font-size: 18px; }
#scrapeBtn {
  position: absolute;
  right: 17%;
  margin-top: 10%;
}

  h1{
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 90px;
    padding: 20px;
    margin-top: -3%;
    width: auto;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility; }

  .insetshadow{
    color: #1e88e5;
    background-color: #2d2d2d;
    letter-spacing: .1em;
    text-shadow:
      -1px -1px 1px #111,
      2px 2px 1px #363636; }

    @import url(http://fonts.googleapis.com/css?family=Lato:300);
    *, *:before, *:after {
      box-sizing: border-box;
    }

    .wrapper {
      /*position: relative;*/
      margin-top: -20%;
      width: 650px;
      height: 567px;
      -webkit-animation: shake 5s infinite;
              animation: shake 5s infinite;
    }

    .hulk {
      position: absolute;
      right: 30%;
      margin-left: 200px;
      bottom: 0px;
      margin-bottom: 300px;
    }
    .hulk .head {
      width: 4.713em;
      position: absolute;
      margin-top: -2.75em;
      margin-left: 3.563em;
      border-bottom: 3.75em solid #bdbd00;
      border-left: 0.938em solid transparent;
      border-right: 0.938em solid transparent;
      height: 0;
      z-index: 10;
    }
    .hulk .head::after {
      content: "";
      width: 2.25em;
      height: 0.375em;
      position: absolute;
      margin-top: 0.538em;
      margin-left: 0.313em;
      background: #034600;
    }
    .hulk .head::before {
      content: "";
      width: 3.25em;
      height: 0.75em;
      position: absolute;
      margin-top: -0.75em;
      margin-left: -0.25em;
      background: #034600;
      border-top-left-radius: 1.875em;
      border-top-right-radius: 1.875em;
    }
    .hulk .mouth {
      width: 31px;
      height: 0px;
      position: absolute;
      margin-top: 25px;
      margin-left: 8px;
      overflow: hidden;
      background-image: -webkit-linear-gradient(top, #ffffff, #ffffff 25%, #4b0a00 25%, #4b0a00 70%, #ffffff 75%, #ffffff 100%);
      background-image: linear-gradient(to bottom, #ffffff, #ffffff 25%, #4b0a00 25%, #4b0a00 70%, #ffffff 75%, #ffffff 100%);
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
      -webkit-animation: mouthOpen 5s infinite;
              animation: mouthOpen 5s infinite;
    }
    .hulk .mouth::before {
      content: "";
      width: 10px;
      height: 7px;
      position: absolute;
      background: #902e2b;
      margin-top: 9px;
      margin-left: 11px;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
    }
    .hulk .right-arm {
      width: 13.313em;
      height: 13.75em;
      margin-top: 1em;
      margin-left: 2em;
      border-radius: 50%;
      background: #b5b500;
      position: absolute;
      clip: rect(-1em, 11.2em, 12.55em, 7.625em);
      -webkit-animation: hulkRightarm 5s infinite;
              animation: hulkRightarm 5s infinite;
    }
    .hulk .right-arm::after {
      content: "";
      width: 12.063em;
      height: 9.625em;
      border-radius: 50%;
      background: white;
      position: absolute;
      -webkit-transform: translateY(1.25em);
              transform: translateY(1.25em);
      margin-left: -3.313em;
    }
    .hulk .left-arm {
      width: 13.313em;
      height: 13.75em;
      margin-top: 1em;
      margin-left: -4.3em;
      border-radius: 50%;
      background: #949400;
      position: absolute;
      clip: rect(-0.188em, 6.1em, 13.875em, 2.3em);
      -webkit-animation: hulkLeftarm 5s infinite;
              animation: hulkLeftarm 5s infinite;
    }
    .hulk .left-arm::after {
      content: "";
      width: 12.063em;
      height: 9.625em;
      border-radius: 50%;
      background: white;
      position: absolute;
      -webkit-transform: translateY(1.25em);
              transform: translateY(1.25em);
      margin-left: 4.563em;
    }
    .hulk .fist {
      width: 4.375em;
      height: 4.375em;
      position: absolute;
      border-radius: 50%;
      margin-top: 11.7em;
      margin-left: -2.1em;
      background: #949400;
      box-shadow: 11.1em 0 0 #b5b500;
      z-index: 10;
      -webkit-animation: hulkHands 5s infinite;
              animation: hulkHands 5s infinite;
    }
    .hulk .body {
      width: 12.5em;
      height: 12.5em;
      background: #bdbd00;
      border-radius: 50%;
      position: absolute;
      box-shadow: inset 1.125em 0 0 #a4a400, -0.938em 0 0 #8a8a00;
      z-index: 10;
    }
    .hulk .body::before {
      content: "";
      width: 0.75em;
      height: 0.75em;
      border-radius: 50%;
      position: absolute;
      margin-top: 3.125em;
      margin-left: 1.375em;
      background: #8a8a00;
      box-shadow: 7.625em 0 0 #8a8a00;
    }
    .hulk .body::after {
      content: "";
      position: absolute;
      width: 0.313em;
      height: 0.313em;
      border-radius: 50%;
      margin-top: 10em;
      margin-left: 5.625em;
      background: #8a8a00;
      box-shadow: 0 2.625em 0 #9ac7f1;
    }
    .hulk .right-leg {
      width: 0.625em;
      height: 6.438em;
      position: absolute;
      margin-left: 4.25em;
      margin-top: 12.3em;
      background-image: -webkit-linear-gradient(top, #2e0e62, #2e0e62 50%, #575700 50%, #575700 100%);
      background-image: linear-gradient(to bottom, #2e0e62, #2e0e62 50%, #575700 50%, #575700 100%);
      -webkit-animation: hulkPants2 5s infinite;
              animation: hulkPants2 5s infinite;
    }
    .hulk .right-leg::after {
      content: "";
      width: 0.938em;
      height: 0.875em;
      position: absolute;
      margin-left: 0.625em;
      background: #43158e;
    }
    .hulk .right-leg::before {
      content: "";
      width: 1.125em;
      height: 0.188em;
      position: absolute;
      margin-top: 6.25em;
      margin-left: -1.125em;
      background: #575700;
    }
    .hulk .left-leg {
      width: 0.625em;
      height: 6.438em;
      position: absolute;
      margin-left: 6.688em;
      margin-top: 12.3em;
      background-image: -webkit-linear-gradient(top, #581bbb, #581bbb 50%, #bdbd00 50%, #bdbd00 100%);
      background-image: linear-gradient(to bottom, #581bbb, #581bbb 50%, #bdbd00 50%, #bdbd00 100%);
      -webkit-animation: hulkPants 5s infinite;
              animation: hulkPants 5s infinite;
    }
    .hulk .left-leg::after {
      content: "";
      width: 0.938em;
      height: 0.875em;
      position: absolute;
      background: #581bbb;
      margin-left: -0.938em;
    }
    .hulk .left-leg::before {
      content: "";
      width: 1.125em;
      height: 0.188em;
      position: absolute;
      margin-top: 6.25em;
      margin-left: 0.625em;
      background: #bdbd00;
    }

    .awwwards {
      position: absolute;
      top: 30px;
      left: 70px;
    }

    .awwwards a {
      color: #ab3300;
      text-decoration: none;
      border-bottom: 1px solid #ab3300;
    }

    /*Hand Animation*/
    @-webkit-keyframes shake {
      78%, 80%,82%,84%,86%,88%,90%,92% {
        top: 3px;
        left: 2px;
      }
      79%,81%,83%,85%,87%,89%,91% {
        top: 0px;
        left: -2px;
      }
    }
    @keyframes shake {
      78%, 80%,82%,84%,86%,88%,90%,92% {
        top: 3px;
        left: 2px;
      }
      79%,81%,83%,85%,87%,89%,91% {
        top: 0px;
        left: -2px;
      }
    }
    @-webkit-keyframes mouthOpen {
      77% {
        height: 0px;
      }
      80% {
        height: 22px;
      }
      93% {
        height: 22px;
        opacity: 1;
      }
      95% {
        height: 0px;
        opacity: 0;
      }
    }
    @keyframes mouthOpen {
      77% {
        height: 0px;
      }
      80% {
        height: 22px;
      }
      93% {
        height: 22px;
        opacity: 1;
      }
      95% {
        height: 0px;
        opacity: 0;
      }
    }
    @-webkit-keyframes hulkHands {
      6% {
        box-shadow: 11.1em 0 0 #b5b500;
      }
      77% {
        box-shadow: 11.1em 0 0 #b5b500;
        margin-left: -2.1em;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      80% {
        margin-left: 0.5em;
        box-shadow: 8.5em 0 0 #b5b500;
        -webkit-transform: translate(-0.9em, -19.9em);
        transform: translate(-0.9em, -19.9em);
      }
      93% {
        margin-left: 0.5em;
        box-shadow: 8.5em 0 0 #b5b500;
        -webkit-transform: translate(-0.9em, -19.9em);
        transform: translate(-0.9em, -19.9em);
      }
      94% {
        box-shadow: 11.1em 0 0 #b5b500;
        margin-left: -2.1em;
        -webkit-transform: translate(0em, 0em);
        transform: translate(0em, 0em);
      }
    }
    @keyframes hulkHands {
      6% {
        box-shadow: 11.1em 0 0 #b5b500;
      }
      77% {
        box-shadow: 11.1em 0 0 #b5b500;
        margin-left: -2.1em;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
      }
      80% {
        margin-left: 0.5em;
        box-shadow: 8.5em 0 0 #b5b500;
        -webkit-transform: translate(-0.9em, -19.9em);
        transform: translate(-0.9em, -19.9em);
      }
      93% {
        margin-left: 0.5em;
        box-shadow: 8.5em 0 0 #b5b500;
        -webkit-transform: translate(-0.9em, -19.9em);
        transform: translate(-0.9em, -19.9em);
      }
      94% {
        box-shadow: 11.1em 0 0 #b5b500;
        margin-left: -2.1em;
        -webkit-transform: translate(0em, 0em);
        transform: translate(0em, 0em);
      }
    }
    @-webkit-keyframes hulkRightarm {
      77% {
        margin-top: 1em;
        margin-left: 2em;
        clip: rect(-1em, 11.2em, 12.55em, 7.625em);
      }
      80% {
        margin-top: -8.125em;
        margin-left: 2.5em;
        clip: rect(0.563em, 13.363em, 13.75em, 6.625em);
      }
      93% {
        margin-top: -8.125em;
        margin-left: 2.5em;
        clip: rect(0.563em, 13.363em, 13.75em, 6.625em);
      }
      95% {
        margin-top: 1em;
        margin-left: 2em;
        clip: rect(-1em, 11.2em, 12.55em, 7.625em);
      }
    }
    @keyframes hulkRightarm {
      77% {
        margin-top: 1em;
        margin-left: 2em;
        clip: rect(-1em, 11.2em, 12.55em, 7.625em);
      }
      80% {
        margin-top: -8.125em;
        margin-left: 2.5em;
        clip: rect(0.563em, 13.363em, 13.75em, 6.625em);
      }
      93% {
        margin-top: -8.125em;
        margin-left: 2.5em;
        clip: rect(0.563em, 13.363em, 13.75em, 6.625em);
      }
      95% {
        margin-top: 1em;
        margin-left: 2em;
        clip: rect(-1em, 11.2em, 12.55em, 7.625em);
      }
    }
    @-webkit-keyframes hulkLeftarm {
      77% {
        margin-top: 1em;
        margin-left: -4.3em;
        clip: rect(-0.188em, 6.1em, 13.875em, 2.3em);
      }
      80% {
        margin-top: -8.125em;
        margin-left: -4.375em;
        clip: rect(-0.188em, 6.563em, 13.875em, 0em);
      }
      93% {
        margin-top: -8.125em;
        margin-left: -4.375em;
        clip: rect(-0.188em, 6.563em, 13.875em, 0em);
      }
      95% {
        margin-top: 1em;
        margin-left: -4.3em;
        clip: rect(-0.188em, 6.1em, 13.875em, 2.3em);
      }
    }
    @keyframes hulkLeftarm {
      77% {
        margin-top: 1em;
        margin-left: -4.3em;
        clip: rect(-0.188em, 6.1em, 13.875em, 2.3em);
      }
      80% {
        margin-top: -8.125em;
        margin-left: -4.375em;
        clip: rect(-0.188em, 6.563em, 13.875em, 0em);
      }
      93% {
        margin-top: -8.125em;
        margin-left: -4.375em;
        clip: rect(-0.188em, 6.563em, 13.875em, 0em);
      }
      95% {
        margin-top: 1em;
        margin-left: -4.3em;
        clip: rect(-0.188em, 6.1em, 13.875em, 2.3em);
      }
    }
